.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__text {
    padding: 65px 80px 125px 80px;
    margin-top: 80px;
    flex: 0 1 850px;
    background-color: $blue;
    color: #fff;
    p {
        font-size: 18px / 32px;
        margin-bottom: 45px;
        max-width: 600px;
    }
    .btn {
        display: inline-block;
    }
}

.about__title {
    margin-bottom: 55px;
    max-width: 450px;
}

.about-video-link {
    flex: 1;
    position: relative;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-video-link__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    size: 100px;
    border: 0;
    background: none;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    svg {
        fill: $blue;
        transition: 0.3s all;
    }
    &:hover, &:focus {
        background-color: $blue;
        outline: 0;
        svg {
            fill: #fff;
        }
    }
}

@media (max-width: 982px) {
    .about__text {
        padding: 25px 15px 60px 15px;
    }
    .about-video-link {
        display: none;
    }
    .about__text {
        p {
            font-size: 16px / 28px;
        }
    }
    .about__buttons {
        display: flex;
        justify-content: center;
    }
}