.advantages {
    padding: 0 0 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &.advantages_mb100 {
        margin-bottom: 100px;
    }
}

.advantages__nav {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages__title {
    max-width: 260px;
}

.advantages-slider {

}

.advantages-slider-slide {
    width: 350px;
    min-height: 380px;
    padding: 60px;
    color: $dark $blue-light;
}

.advantages-slider-slide__number {
    size: 80px;
    margin-bottom: 35px;
    border-radius: 50%;
    color: $blue #fff;
    font-size: 24px / 80px;
    text-align: center;
}

.advantages-slider-slide__text {
    font-size: 21px / 36px;
}

.advantages-slider-nav {
    display: flex;
    align-items: center;
    cursor: pointer;
    svg {
        fill: none;
        stroke: $blue;
        stroke-width: 2px;
        fill-rule: evenodd;
        transition: all .3s;
    }
}

.advantages-slider-nav__left {
    margin-right: 30px;
}

.advantages-slider-nav__left, .advantages-slider-nav__right {
    &:hover, &:focus {
        outline: 0;
        stroke: $brown;
    }
}

@media (max-width: 982px) {
    .advantages {
        flex-wrap: wrap;
        padding: 0;
    }
    .advantages__nav {
        flex: 1 1 100%;
    }
    .advantages__title {
        max-width: 100%;
    }
    .advantages-slider-nav {
        display: none;
    }
    .advantages-slider {
        .swiper-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
    .advantages-slider-slide {
        width: 100%;
    }
}