.alert {
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    .alert__icon {
        display: inline-flex;
        margin-right: 20px;
        svg {
            fill: #fff;
        }
    }
    &.alert_succes {
        background-color: $blue;
    }
    &.alert_danger {
        background-color: $dark;
    }
}