.btn {
    position: relative;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s all;
    &:hover, &:focus {
        outline: 0;
        cursor: pointer;
    }
    &.btn_default {
        padding: 17px 30px;
        min-height: 50px;
    }
    &.btn_big {
        padding: 25px;
        min-height: 70px;
    }
    &.btn_text-bold {
        font-weight: bold;
    }
    &.btn_text-uppercase {
        text-transform: uppercase;
    }
    &.btn-text-center {
        text-align: center;
    }
    &.btn_ellipse {
        border-radius: 30px;
    }
    &.btn_icon-right, &.btn_icon-right {
        .icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 60px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    &.btn_icon-right {
        padding-right: 90px;
        .icon {
            border-radius: 0 25px 25px 0;   
        }
    }
    &.btn_icon-left {
        padding-left: 90px;
        .icon {
            border-radius: 25px 0 0 25px;   
        }
    }
    &.btn_blue {
        background: $blue;
        color: #fff;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border: 1px solid $blue;
            border-radius: 25px;
            opacity: 0;
            transition: 0.3s all;
        }
        .icon {
            background-color: #fff;
            svg {
                fill: $blue;
                transition: 0.3s all;
            }
        }
        &:hover, &:focus {
            color: $blue;
            background: transparent;
            &:before {
                opacity: 1;
            }
            .icon {
                background: transparent;
                svg {
                    transform: translate(10px, 0);
                }
            }
        }
    }
    &.btn_white {
        background-color: #fff;
        color: $blue;
        transition: 0.3s all;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border: 1px solid $blue;
            border-radius: 25px;
            opacity: 0;
            transition: 0.3s all;
        }
        .icon {
            background-color: $blue-light;
            svg {
                fill: $blue;
                transition: 0.3s all;
            }
        }
        &:hover, &:focus {
            border-color: #fff;
            color: #fff;
            background-color: transparent;
            &:before {
                opacity: 1;
            }
            .icon {
                background-color: transparent;
                svg {
                    fill: #fff;
                    transform: translate(10px, 0);
                }
            }
        }
    }
    &.btn_circle-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0;
        display: block;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 50px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 1px);
            height: calc(100% - 1px);
            border: 1px solid;
            border-radius: 25px;
            opacity: 0;
            transition: 0.3s all;
        }
    }
    &.btn_circle-icon-white {
        background-color: #fff;
        svg {
            fill: $blue;
        }
        &:before {
            border-color: $blue;
        }
        &:hover, &:focus {
            background: transparent;
            &:before {
                opacity: 1;
            }
        }
    }
    &.btn_border-grey {
        border: 1px solid $grey;
        &:hover, &:focus {
            background-color: $blue-light;
        }
    }
}