input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  position: relative;
  min-height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 55px;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid $blue-light;
  background-color: $blue-light;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 9px;
    top: 11px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid $blue;
    border-bottom: 2px solid $blue;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label:before {
  background-color: $blue-light;
  border-color: $blue-light;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type="checkbox"]:not(:checked) + label:hover {
  &:before {
    background-color: $blue-light2;
  }
}

.checkbox_dark[type=checkbox]:checked+label:before, .checkbox_dark[type=checkbox]:not(:checked)+label:before {
  background-color: $blue-light;
  border-color: $blue-light;
}

.checkbox_dark[type="checkbox"]:checked + label:before {
  background-color: $blue;
  border-color: $blue;
}