.contacts {
    background-color: $blue-light;
    padding: 100px 80px;
}

.contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts-list-item {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
        margin-bottom: 45px;
        padding: 0 0 45px 0;
        border-bottom: 1px solid $grey-dark2;
    }
}

.contacts-list-item__name {
    flex: 0 1 45%;
    display: inline-flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts-list-item__value {
    flex: 1;
    font-family: 'Catorze', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

@media (max-width: 982px) {
    .contacts {
        padding: 55px 15px;
        background-color: $blue-light2;
    }
    .contacts-list-item {
        &:not(:last-child) {
            padding: 0;
            margin-bottom: 45px;
            border: none;
        }
    }
    .contacts-list-item__name {
        flex: 1 1 100%;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .contacts-list-item__value {
        font-size: 18px;
    }
}