.directions {
    padding: 90px 0 0 0;
    &.directions_mb50 {
        margin-bottom: 50px;
    }
}

.direction-slider {
    margin-left: 80px;
}

.direction-slider-slide {
    height: 380px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.direction-slider-slide__name {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.direction-slider__scrollbar {
    position: relative;
    height: 80px;
    margin: 40px 40px 40px 0;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: url(../img/circle.png) repeat-x;
        background-position: center;
    }
    .swiper-scrollbar-drag {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: $blue;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            right: 50%;
            bottom: 50%;
            transform: translate(-50%, 0);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            width: 65px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 50%;
            background: url('../img/arrow_doubles.svg') no-repeat;
            background-position: center;
        }
    }
}