.feedbacks {
    padding: 90px 100px;
    margin: 0 80px;
    border: 6px solid $grey;
    position: relative;
    &.feedbacks_mb100 {
        margin-bottom: 100px;
    }
}

.feedbacks__title {

}

.feedbacks-slider {

}

.feedbacks-slider__slide {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.feedbacks-slider-slide__fullname {
    line-height: 30px;
    font-weight: bold;
    flex: 0 1 210px;
}

.feedbacks-slider-slide__text {
    flex: 1;
    line-height: 36px;
    p {
        font-size: 18px;
        line-height: 36px;
        margin: 0;
    }
}

.feedbacks-slide-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 210px;
    z-index: 1;
}

.feedbacks-slide-nav__number {
    display: flex;
    align-items: flex-start;
    padding: 0 30px;
    font-weight: bold;
}

.feedbacks-slide-nav-number__current {
    font-size: 30px;
}

.feedbacks-slide-nav-number__total {
    font-size: 18px;
}

.feedbacks-slide-nav__arrow {
    width: 57px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s all;
    svg {
        fill: none;
        stroke: $blue;
        stroke-width: 2px;
        fill-rule: evenodd;
        transition: all .3s;
    }
    &:hover, &:focus {
        outline: 0;
        svg {
            stroke: $brown;
        }
    }
}

.feedbacks__all {
    position: absolute;
    bottom: 5px;
    right: 0;
}