.footer {
    padding: 80px 0 35px;
    width: 100%;
    max-width: 1450px;
    margin: auto;
    background-color: $blue-light2;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: calc(1150px + 4rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer__left {
    flex: 1;
}

.footer__right {
    flex: 0 1 280px;
}

.footer-contacts {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}

.footer-contacts-item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.footer-contacts-item__name {
    margin-bottom: 20px;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-contacts-item__value {
    font-size: 16px;
}

.footer_callback {
    display: inline-block;
    margin-bottom: 55px;
}

.footer-socials {
    list-style: none;
    display: flex;
}

.footer-socials__item {
    margin-right: 10px;
}

.footer__top {
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.footer-nav__main-link {
    font-family: 'Catorze', sans-serif;
    margin-bottom: 30px;
    flex: 1;
    &.footer-nav__main-link_fluid {
        flex: 1 1 100%;
    }
}

.footer-nav-list {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav-list-item {

}

.footer-nav-list-item__link {
    display: block;
    padding: 12px 0;
    font-size: 14px;
}

.footer__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 0 0 0;
    border-top: 1px solid #ccd0d3;
    color: $grey-dark3;
}

.footer__copy, .footer__dev {
    flex: 1 1 300px;
}

@media (max-width: 982px) {
    .footer-nav-list {
        display: none;
    }
    .footer-nav:not(:last-child) {
        margin: 0;
    }
    .footer-nav__main-link {
        flex: 1 1 100%;
        margin-bottom: 25px;
    }
    .footer__left {
        flex: 1 1 100%;
        margin-bottom: 30px;
    }
    .footer_callback {
        display: none;
    }
    .footer-contacts {
        margin-bottom: 20px;
    }
    .footer__top {
        margin-bottom: 40px;
    }
    .footer__bottom {
        padding-top: 30px;
    }
    .footer__copy {
        margin-bottom: 15px;
    }
    .footer {
        padding: 60px 0 30px;
    }
}

@media (max-width: 768px) {
    .footer__container {
        padding-left: 15px;
        padding-right: 15px;
    }
}