h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Catorze', sans-serif;
    text-transform: uppercase;
}

h1, .h1 {
    font-size: 54px;
    line-height: 66px;
    margin: 20px 0 35px;
}

h2, .h2 {
    font-size: 42px;
    line-height: 54px;
    margin: 20px 0 30px;
}

h3, .h3 {
    font-size: 36px;
    line-height: 44px;
    margin: 20px 0 25px;
}

h4, .h4 {
    font-size: 30px;
    line-height: 44px;
    margin: 20px 0 25px;
}

h5, .h5 {
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0 20px;
}

h6, .h6 {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0 20px;
}