.header {
    background-color: #fff;
    padding: 30px 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block {
    &.header-block_left {
        border-right: 1px solid $grey;
        .header-block__top, .header-block__bottom {
            padding-right: 60px;
        }
    }
    &.header-block_right {
        border-left: 1px solid $grey;
        .header-block__top, .header-block__bottom {
            padding-left: 60px;
        }
    }
}

.header-block__top, .header-block__bottom {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.header-block__top {
    border-bottom: 1px solid $grey;
}

.header-block__bottom {
    display: flex;
    justify-content: space-between;
}

.header__links {
    .link {
        padding: 20px 0;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

@media (max-width: 1410px) {
    .header-block {
        &.header-block_right {
            .header-block__top, .header-block__bottom {
                padding-left: 30px;
            } 
        }
        &.header-block_left {
            .header-block__top, .header-block__bottom {
                padding-right: 30px;
            }
        }
    }
    .header__links {
        .link {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}