.input {
    background: none;
    border: none;
    transition: 0.3s all;
    padding: 20px;
    min-height: 60px;
    &::placeholder {
        text-transform: uppercase;
    }
    &:hover, &:focus {
        outline: 0;
    }
    &.input_grey {
        border: 1px solid $grey;
        font-size: 14px;
        color: $dark;
        &::placeholder {
            font-size: 14px;
            color: $grey-dark;
        }
        &:focus {
            border-color: $blue;
        }
        &.input_invalid {
            background-color: $red-light;
        }
    }
    &.input_invalid {
        border-color: $red;
    }
}