@mixin link($color, $color_hover) {
	color: $color;
	&:before {
		color: $color_hover;
	}
	svg {
		fill: $color;
	}
	&:hover, &:focus {
    color: $color_hover;
		svg {
			fill: $color_hover;
		}
	}
}

.link {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all;
    svg {
        transition: 0.3s all;
    }
    &:hover, &:focus {
        outline: 0;
        text-decoration: none;
    }
    &.link_uppercase {
        text-transform: uppercase;
    }
    &.link_bold {
        font-weight: bold;
    }
    &.link_icon-left {
        .icon {
            margin-right: 10px;
        }
    }
    &.link_border {
        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 50%;
            height: 2px;
            transition: 0.3s all;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        &:hover, &:focus {
            &:before, &:after {
                width: 0;
            }
        }
    }
    &.link_grey {
        @include link($grey, $blue);
    }
    &.link_dark {
        @include link($dark, $blue);
    }
    &.link_blue {
        @include link($blue, $dark);
        &.link_border {
            &:before, &:after {
                background-color: $blue;
            }
        }
    }
    &.link_brown {
        @include link($brown, $blue);
        &.link_border {
            &:before, &:after {
                background-color: $brown;
            }
        }
    }
}