.nav-default {
    width: 100%;
}

.nav-default-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-default-list-item {
    position: relative;
    .nav-default-list-item__link {
        padding: 10px 30px 10px 0;
    }
    &:not(:first-of-type) {
        .nav-default-list-item__link {
            padding-left: 30px;
        }
    }
    &:last-child {
        .nav-default-list-item__link {
            padding-right: 0;
        }
    }
    &:not(:last-child) {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -14px;
            transform: translate(0, -50%);
            height: 5px;
            width: 14px;
            background-image: url('../img/tilda.svg');
            background-repeat: no-repeat;
        }
    }
}

.nav-default-list-item__link {
    display: block;
    font-size: 16px;
}