input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    position: relative;
    min-height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 55px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid $blue-light;
    background-color: $blue-light;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $blue;
}

input[type="radio"]:checked + label:before {
  background-color: $blue-light;
  border-color: $blue-light;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:checked + label:after {
  opacity: 1;
}

input[type="radio"]:not(:checked) + label:hover {
  &:before {
    background-color: $blue-light2;
  }
}