.search-dropdown {
    position: relative;
    width: 100%;
    padding: 0 80px;
    margin-bottom: 35px;
}

.seacrch-dropdwon__input {
    padding: 25px 25px 25px 0;
    background: none;
    border: 0;
    border-bottom: 6px solid $grey;
    width: 100%;
    font-size: 18px;
    color: $dark;
    &::placeholder {
        font-size: 18px;
        color: $grey;
    }
    &:hover, &:focus {
        outline: 0;
    }
}

.search-dropdwon__button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 100%;
    cursor: pointer;
    svg {
        fill: $dark;
    }
    &:hover, &:focus {
        outline: 0;
    }
}