.search {
    position: relative;
    width: 100%;
}

.search__input {
    background: none;
    border: none;
    width: 100%;
    padding: 20px 20px 20px 0;
    color: $dark;
    font-size: 18px;
    &::placeholder {
        color: $dark;
        opacity: 0.5;
        font-size: 18px;
    }
    &:hover, &:focus {
        outline: 0;
    }
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}