.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 45px;
    text-align: left;
    margin-bottom: 20px;
    color: $dark-blue-grey;
    font-size: 14px;
    &.select_invalid {
      border: 1px solid #f12222;
    }
  }
  
  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 13px 20px 13px 20px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    white-space: nowrap;
    &:after {
      content: "";
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11px" height="7px"><path fill="rgb(241, 84, 34)" fill-rule="evenodd" d="M10.707,1.706 L5.707,6.706 L5.500,6.499 L5.293,6.706 L0.293,1.706 L1.707,0.292 L5.500,4.085 L9.293,0.292 L10.707,1.706 Z"/></svg>');
      background-repeat: no-repeat;
      width: 11px;
      height: 7px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 20px;
      z-index: 1;
      transition: .5s all;
    }
    &.active {
      &:after {
        z-index: 1;
        transform: translate(0, -50%) rotate(180deg);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11px" height="7px"><path fill="#0082bd" fill-rule="evenodd" d="M10.707,1.706 L5.707,6.706 L5.500,6.499 L5.293,6.706 L0.293,1.706 L1.707,0.292 L5.500,4.085 L9.293,0.292 L10.707,1.706 Z"/></svg>');
      }
    }
  }
  
  .select-options {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    max-height: 250px;
    overflow: auto;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0px 25px 50px 0 rgba(12, 33, 47, 0.25);
    li {
      position: relative;
      padding: 13px 20px;
      -webkit-transition: all .15s ease-in;
      transition: all .15s ease-in;
      &:first-child {
        display: none;
      }
      &:hover {
        background-color: $pale-grey;
      }
      &[choise='false'] {
        color: $pale-grey;
      }
    }
    li.active {
      color: $tomato;
    }
  }