.slider-home {
    height: 720px;
    overflow: hidden;
    position: relative;
    .swiper-wrapper {
        display: flex;
        align-items: flex-start;
    }
}

.slider-home-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    display: flex;
    justify-content: center;
}

.slider-home-slide__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 780px;
}

.slider-home-slide__title {
    margin-bottom: 45px;
    color: #fff;
    text-align: center;
}

.slider-home__nav {
    position: absolute;
    z-index: 1;
    top: 45%;
    cursor: pointer;
    svg {
        fill: none;
        stroke: #fff;
        stroke-width: 2px;
        fill-rule: evenodd;
        transition: 0.3s all;
    }
    &:hover, &:focus {
        outline: 0;
        svg {
            stroke: $blue;
        }
    }
    &.slider-home__nav_prev {
        left: 80px;
    }
    &.slider-home__nav_next {
        right: 80px;
    }
}