.text {
    p {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 40px;
    }
    ol {
        padding-left: 70px;
        list-style: none;
        counter-reset: myCounter;
        li {
          position: relative;
          margin-bottom: 30px;
          &:before {
            counter-increment: myCounter;
            content: counter(myCounter) ".";
            position: absolute;
            top: 0;
            left: -35px;
            font-size: 18px;
            font-weight: bold;
            color: $blue;
          }
        }
      }
    ul {
        list-style: none;
        padding-left: 70px;
        li {
            position: relative;
            margin-bottom: 30px;
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: -35px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $blue;
            }
        }
    }
}