.treatment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.treatment__man {
    flex: 0 1 650px;
    margin: -50px 0 0 0;
    display: flex;
    justify-content: center;
    img {
        height: 100%;
        width: auto;
    }
}

.treatment__text {
    flex: 1;
    padding: 70px 0 0 0;
    margin: 100px 0 0 0;
    position: relative;
    p {
        font-size: 18px / 32px;
        max-width: 640px;
        margin-bottom: 45px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 44px;
        height: 33.03px;
        background: url('../img/quote.svg') no-repeat;
        background-size: contain;
    }
}

.treatment-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

.treatment-bottom-info-man {

}

.treatment-bottom-info-man__fullname {
    font-weight: bold;
    margin-bottom: 15px;
}

.treatment-bottom-info-man__prof {
    opacity: 0.5;
}

@media (max-width: 982px) {
    .treatment {
        padding: 60px 15px;
    }
    .treatment__man {
        margin: 0;
        height: 185px;
        overflow: hidden;
        background-color: $blue-light2;
        img {
            height: 170%;
        }
    }
    .treatment-bottom__autograph {
        display: none;
    }
    .treatment__text {
        margin: 0;
        p {
            font-size: 16px / 28px;
            margin-bottom: 30px;
        }
        &:after {
            top: 30px;
            height: 20px;;
        }
    }
}