<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title><%=title%></title>
  </head>
  <body>

  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <div class="header__block header-block header-block_left">
            <div class="header-block__top">
              <nav class="nav-default">
                <ul class="nav-default__list nav-default-list">
                  <li class="nav-default-list__item nav-default-list-item">
                    <a href="#" class="link link_dark link_uppercase link_bold nav-default-list-item__link">О клинике</a>
                  </li>
                  <li class="nav-default-list__item nav-default-list-item">
                    <a href="#" class="link link_dark link_uppercase link_bold nav-default-list-item__link">О клинике</a>
                  </li>
                  <li class="nav-default-list__item nav-default-list-item">
                    <a href="#" class="link link_dark link_uppercase link_bold nav-default-list-item__link">О клинике</a>
                  </li>
                  <li class="nav-default-list__item nav-default-list-item">
                    <a href="#" class="link link_dark link_uppercase link_bold nav-default-list-item__link">О клинике</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-block__bottom">
              <div class="header__address">г. Екатеринбург, ул. Гагарина, 38 </div>
              <a href="mailto:info@pr-clinica.ru" class="link link_blue">info@pr-clinica.ru</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <a href="/" class="header__logo">
            <img src="../../img/logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-5">
          <div class="header-block header-block_right">
            <div class="header-block__top">
              <div class="search">
                <input type="search" placeholder="Поиск по сайту" class="search__input">
                <button class="search__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.03" height="16" viewBox="0 0 16.03 16"><path id="search" class="cls-1" d="M2118.99,113.986a5.994,5.994,0,1,1,6.01-5.994A6,6,0,0,1,2118.99,113.986Zm0-10.489a4.5,4.5,0,1,0,4.51,4.5A4.505,4.505,0,0,0,2118.99,103.5Zm2.5,4.5a2.5,2.5,0,0,0-2.5-2.5v-1a3.5,3.5,0,0,1,3.5,3.5h-1Zm-6.28,5.884-3.67,3.667a1.512,1.512,0,0,1-2.13,0,1.49,1.49,0,0,1,0-2.119l3.68-3.667A7.1,7.1,0,0,0,2115.21,113.876Z" transform="translate(-2108.97 -102)"/></svg>
                </button>
              </div>
            </div>
            <div class="header-block__bottom">
              <a href="tel:73433857007" class="link link_dark link_bold header__tel">+7 (343) 385-70-07</a>
              <div class="header__links">
                <a href="#" class="link link_brown link_uppercase link_bold link_border link_icon-left">
                  <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path id="med_crest" class="cls-1" d="M1837.55,176.553V179.9a0.936,0.936,0,0,1-1.11,1.1h-4.89a0.943,0.943,0,0,1-1.11-1.1v-3.34h-3.17c-1.02,0-1.27-.25-1.27-1.278v-4.72a0.936,0.936,0,0,1,1.1-1.108c1.09,0,2.18,0,3.34,0v-3.119c0-1.091.24-1.325,1.34-1.325,1.55,0,3.11,0,4.66,0a0.935,0.935,0,0,1,1.11,1.1v3.344c1.06,0,2.09,0,3.12,0,1.1,0,1.33.229,1.33,1.331v4.665a0.936,0.936,0,0,1-1.1,1.109C1839.81,176.555,1838.72,176.553,1837.55,176.553Zm-1.77,2.658V175.96a0.976,0.976,0,0,1,1.2-1.182c1.06,0,2.13,0,3.2,0v-3.559c-1.12,0-2.21,0-3.31,0a0.931,0.931,0,0,1-1.09-1.115v-3.3h-3.56V170.1a0.946,0.946,0,0,1-1.14,1.124c-1.09,0-2.18,0-3.27,0v3.559h2.64c1.7,0,1.77.062,1.77,1.781v2.652h3.56Z" transform="translate(-1826 -165)"/></svg>
                  </span>
                  Записаться
                </a>
                <a href="#" class="link link_blue link_uppercase link_bold link_border">
                  Личный кабинет  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>