<% var data = {
  title: "Главная"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="slider-home">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-home__slide slider-home-slide" style="background-image: url('../img/img4.jpg')">
      <div class="slider-home-slide__content">
          <div class="h1 slider-home-slide__title">Преображенская клиника — медицина европейского уровня</div>
          <a href="#" class="btn btn_default btn_ellipse btn_blue btn_text-uppercase btn_icon-right">
            Подробнее о клинике
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="9.44" height="16.44" viewBox="0 0 9.44 16.44"><path id="arrow_small_right" class="cls-1" d="M1798.71,5586.71l-8,8-1.42-1.42,6.8-6.79-6.8-6.79,1.42-1.42,8,8-0.21.21Z" transform="translate(-1789.28 -5578.28)"/></svg>
            </div>
          </a>
      </div>
    </div>
    <div class="swiper-slide slider-home__slide slider-home-slide" style="background-image: url('../img/img4.jpg')">
      <div class="slider-home-slide__content">
          <div class="h1 slider-home-slide__title">Преображенская клиника — медицина европейского уровня</div>
          <a href class="btn btn_default btn_ellipse btn_blue btn_text-uppercase btn_icon-right">
            Подробнее о клинике
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="9.44" height="16.44" viewBox="0 0 9.44 16.44"><path id="arrow_small_right" class="cls-1" d="M1798.71,5586.71l-8,8-1.42-1.42,6.8-6.79-6.8-6.79,1.42-1.42,8,8-0.21.21Z" transform="translate(-1789.28 -5578.28)"/></svg>
            </div>
          </a>
      </div>
    </div>
  </div>
  <div class="slider-home__nav slider-home__nav_prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_left" class="cls-1" d="M656,2825v2H604v-2h52Zm-40.032,13.97L601,2825.94,616,2813v26Z" transform="translate(-600 -2812)"/></svg>        
  </div>
  <div class="slider-home__nav slider-home__nav_next">
      <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_right" class="cls-1" d="M686,2827v-2h52v2H686Zm40.032-13.97L741,2826.06,726,2839v-26Z" transform="translate(-685 -2812)"/></svg>        
  </div>
</div>

<main>
  <div class="container body body_transorm-top">
    <div class="row">
      <div class="col-xs-12">
        <section class="directions directions_mb50">
          <h2 class="h1 text-center">Основные направления услуг</h2>
          <div class="search-dropdown">
            <input type="text" class="seacrch-dropdwon__input" placeholder="Искать по направлениям, услугам или имени врача">
            <button class="search-dropdwon__button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.03" height="16" viewBox="0 0 16.03 16"><path id="search" class="cls-1" d="M2118.99,113.986a5.994,5.994,0,1,1,6.01-5.994A6,6,0,0,1,2118.99,113.986Zm0-10.489a4.5,4.5,0,1,0,4.51,4.5A4.505,4.505,0,0,0,2118.99,103.5Zm2.5,4.5a2.5,2.5,0,0,0-2.5-2.5v-1a3.5,3.5,0,0,1,3.5,3.5h-1Zm-6.28,5.884-3.67,3.667a1.512,1.512,0,0,1-2.13,0,1.49,1.49,0,0,1,0-2.119l3.68-3.667A7.1,7.1,0,0,0,2115.21,113.876Z" transform="translate(-2108.97 -102)"/></svg>
            </button>
          </div>
          <div class="direction__slider direction-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Гастроэнторология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Дерматология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Кардиология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Неврология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Гастроэнторология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Гастроэнторология</span></div>
              <div class="swiper-slide direction-slider__slide direction-slider-slide" style="background-image: url('../img/img5.jpg');"><span class="direction-slider-slide__name">Гастроэнторология</span></div>
            </div>
            <div class="direction-slider__scrollbar"></div>
          </div>
        </section>
        <section class="feedbacks feedbacks_mb100">
          <h2 class="h1 text-center feedbacks__title">Что клиенты говорят о нас</h2>
          <div class="feedbacks__slider feedbacks-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="feedbacks-slider__slide feedbacks-slider-slide swiper-slide">
                <div class="feedbacks-slider-slide__fullname">
                  <div>Евгения</div>
                  <div>Бахтирева</div>
                </div>
                <div class="feedbacks-slider-slide__text">Процесс, несмотря на некоторую вероятность дефолта, мгновенно арендует юридический тензиометр. При переходе к следующему уровню организации почвенного покрова гуминовая кислота поступательно растягивает промывной прибор Качинского, что часто служит основанием изменения и прекращения гражданских прав и обязанностей. В соответствии с общим принципом, установленным Конституцией РФ, обязательство латентно эволюционирует в незаконный уровень вод.</div>
              </div>
              <div class="feedbacks-slider__slide feedbacks-slider-slide swiper-slide">
                <div class="feedbacks-slider-slide__fullname">
                  <div>Евгения</div>
                  <div>Бахтирева</div>
                </div>
                <div class="feedbacks-slider-slide__text">Процесс, несмотря на некоторую вероятность дефолта, мгновенно арендует юридический тензиометр. При переходе к следующему уровню организации почвенного покрова гуминовая кислота поступательно растягивает промывной прибор Качинского, что часто служит основанием изменения и прекращения гражданских прав и обязанностей. В соответствии с общим принципом, установленным Конституцией РФ, обязательство латентно эволюционирует в незаконный уровень вод.</div>
              </div>
              <div class="feedbacks-slider__slide feedbacks-slider-slide swiper-slide">
                <div class="feedbacks-slider-slide__fullname">
                  <div>Евгения</div>
                  <div>Бахтирева</div>
                </div>
                <div class="feedbacks-slider-slide__text">Процесс, несмотря на некоторую вероятность дефолта, мгновенно арендует юридический тензиометр. При переходе к следующему уровню организации почвенного покрова гуминовая кислота поступательно растягивает промывной прибор Качинского, что часто служит основанием изменения и прекращения гражданских прав и обязанностей. В соответствии с общим принципом, установленным Конституцией РФ, обязательство латентно эволюционирует в незаконный уровень вод.</div>
              </div>
            </div>
            <div class="feedbacks-slide__nav feedbacks-slide-nav">
              <div class="feedbacks-slide-nav__arrow feedbacks-slide-nav__arrow_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_left" class="cls-1" d="M656,2825v2H604v-2h52Zm-40.032,13.97L601,2825.94,616,2813v26Z" transform="translate(-600 -2812)"/></svg>
              </div>
              <div class="feedbacks-slide-nav__number feedbacks-slide-nav-number"></div>
              <div class="feedbacks-slide-nav__arrow feedbacks-slide-nav__arrow_right">
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_right" class="cls-1" d="M686,2827v-2h52v2H686Zm40.032-13.97L741,2826.06,726,2839v-26Z" transform="translate(-685 -2812)"/></svg>
              </div>
            </div>
            <a href="#" class="feedbacks__all link link_blue link_bold link_uppercase">Все отзывы</a>
          </div>
        </section>
        <section class="advantages advantages_mb100">
          <div class="advantages__nav">
            <h2 class="h1 advantages__title">С заботой о наших пациентах</h2>
            <div class="advantages-slider-nav">
              <div class="advantages-slider-nav__left">
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_left" class="cls-1" d="M656,2825v2H604v-2h52Zm-40.032,13.97L601,2825.94,616,2813v26Z" transform="translate(-600 -2812)"/></svg>
              </div>
              <div class="advantages-slider-nav__right">
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="28" viewBox="0 0 57 28"><path id="long_arrow_right" class="cls-1" d="M686,2827v-2h52v2H686Zm40.032-13.97L741,2826.06,726,2839v-26Z" transform="translate(-685 -2812)"/></svg>
              </div>
            </div>
          </div>
          <div class="advantages__slider advantages-slider swiper-container">
            <div class="swiper-wrapper">
              <div class="advantages-slider__slide advantages-slider-slide swiper-slide">
                <div class="advantages-slider-slide__number">I.</div>
                <div class="advantages-slider-slide__text">Экспресс-анализы в собственной лаборатории</div>
              </div>
              <div class="advantages-slider__slide advantages-slider-slide swiper-slide">
                <div class="advantages-slider-slide__number">II.</div>
                <div class="advantages-slider-slide__text">Наши врачи с большим опытом работы</div>
              </div>
              <div class="advantages-slider__slide advantages-slider-slide swiper-slide">
                <div class="advantages-slider-slide__number">III.</div>
                <div class="advantages-slider-slide__text">Экспресс-анализы в собственной лаборатории</div>
              </div>
            </div>
          </div>
        </section>
        <section class="about">
          <div class="about__text">
            <h2 class="h1 about__title">«Ваше здоровье — наша профессия!»</h2>
            <p>«Преображенская клиника» — многопрофильное медицинское учреждение. Клиника представлена  амбулаторно-поликлинической службой, диагностическими подразделениями, многопрофильным хирургическим отделением.</p>
            <div class="about__buttons">
              <a href="#" class="btn btn_default btn_uppercase btn_ellipse btn_icon-right btn_white btn_text-uppercase btn_text-bold">
                Подронее о клинике
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9.44" height="16.44" viewBox="0 0 9.44 16.44"><path id="arrow_small_right" class="cls-1" d="M1798.71,5586.71l-8,8-1.42-1.42,6.8-6.79-6.8-6.79,1.42-1.42,8,8-0.21.21Z" transform="translate(-1789.28 -5578.28)"/></svg>
                </span>
              </a>
            </div>
          </div>
          <div class="about__video-link about-video-link" style="background-image: url('../img/img6.jpg');">
            <button class="about-video-link__play">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" viewBox="0 0 24 29"><path id="play" class="cls-1" d="M1660.05,3287.03l23.95,14.54L1660,3316v-29Z" transform="translate(-1660 -3287)"/></svg>
            </button>
          </div>
        </section>
        <section class="treatment">
          <h2 class="visually-hidden">Обращение</h2>
          <div class="treatment__man">
            <img src="../img/img7.png" alt="Директор">
          </div>
          <div class="treatment__text">
            <p>Если рассмотреть все принятые в последнее время нормативные акты, то видно, что акцентуация возможна. Филогенез безусловно интегрирует кризис, тем не менее как только ортодоксальность окончательно возобладает, даже эта маленькая лазейка будет закрыта. Психическая саморегуляция использует потребительский аутизм.</p>
            <div class="treatment__bottom treatment-bottom">
              <div class="treatment-bottom__info-man treatment-bottom-info-man">
                <div class="treatment-bottom-info-man__fullname">Константин Лехтярев</div>
                <div class="treatment-bottom-info-man__prof">Генеральный директор</div>
              </div>
              <img src="../img/signature.jpg" class="treatment-bottom__autograph">
            </div>
          </div>
        </section>
        <section class="contacts">
          <h2 class="visually-hidden">Контакты</h2>
          <ul class="contacts__list contacts-list">
            <li class="contacts-list__item contacts-list-item">
              <div class="contacts-list-item__name">Мы находимся по адресу:</div>
              <div class="contacts-list-item__value">г. Екатеринбург, ул. Гагарина, 38</div>
            </li>
            <li class="contacts-list__item contacts-list-item">
              <div class="contacts-list-item__name">Телефон:</div>
              <a href="tel:" class="link link_dark contacts-list-item__value">+7 (343) 385-70-07</a>
            </li>
            <li class="contacts-list__item contacts-list-item">
              <div class="contacts-list-item__name">Электронная почта:</div>
              <a href="mailto:" class="link link_blue contacts-list-item__value">info@pr-clinica.ru</a>
            </li>
          </ul>
        </section>
        <div class="map"></div>
      </div>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="footer__top footer__container">
    <div class="footer__left">
      <div class="footer__nav footer-nav">
        <a href="#" class="link link_dark link_uppercase footer-nav__main-link footer-nav__main-link_fluid">Услуги и цены</a>
        <ul class="footer-nav__list footer-nav-list">
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
        </ul>
        <ul class="footer-nav__list footer-nav-list">
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
        </ul>
        <ul class="footer-nav__list footer-nav-list">
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
          <li class="footer-nav-list__item footer-nav-list-item"><a href="#" class="link link_dark link_uppercase footer-nav-list-item__link">Акушерство и гинекология</a></li>
        </ul>
      </div>
      <div class="footer__nav footer-nav">
        <a href="#" class="link link_dark link_uppercase footer-nav__main-link">Услуги и цены</a>
        <a href="#" class="link link_dark link_uppercase footer-nav__main-link">Услуги и цены</a>
        <a href="#" class="link link_dark link_uppercase footer-nav__main-link">Услуги и цены</a>
      </div>
    </div>
    <div class="footer__right">
      <ul class="footer__contacts footer-contacts">
        <li class="footer-contacts__item footer-contacts-item">
          <div class="footer-contacts-item__name">Мы находимся по адресу:</div>
          <div class="footer-contacts-item__value">г. Екатеринбург, ул. Гагарина, 38</div>
        </li>
        <li class="footer-contacts__item footer-contacts-item">
          <div class="footer-contacts-item__name">Телефон:</div>
          <a href="tel:" class="link link_dark footer-contacts-item__value">+7 (343) 385-70-07</a>
        </li>
        <li class="footer-contacts__item footer-contacts-item">
          <div class="footer-contacts-item__name">Электронная почта:</div>
          <a href="mailto:" class="link link_dark footer-contacts-item__value">info@pr-clinica.ru</a>
        </li>
      </ul>
      <a href="#" class="footer_callback btn btn_default btn_ellipse btn_blue btn_text-uppercase btn_icon-right">
        Обратный звонок
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.44" height="16.44" viewBox="0 0 9.44 16.44"><path id="arrow_small_right" class="cls-1" d="M1798.71,5586.71l-8,8-1.42-1.42,6.8-6.79-6.8-6.79,1.42-1.42,8,8-0.21.21Z" transform="translate(-1789.28 -5578.28)"/></svg>
        </div>
      </a>
      <ul class="footer__socials footer-socials">
        <li class="footer-socials__item">
          <a href="#" class="btn btn_circle-icon btn_circle-icon-white">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 10"><path id="vk" class="cls-1" d="M1580.45,1615.31a2.728,2.728,0,0,0-1.49-.79v-0.06a2.141,2.141,0,0,0,1.01-.84,2.3,2.3,0,0,0,.37-1.3,2.4,2.4,0,0,0-.26-1.12,1.947,1.947,0,0,0-.81-0.77,3.012,3.012,0,0,0-1.06-.35,11.569,11.569,0,0,0-1.67-.09h-3.53V1620h4a6.869,6.869,0,0,0,1.72-.18,3.449,3.449,0,0,0,1.23-.64,2.477,2.477,0,0,0,.76-0.93,2.9,2.9,0,0,0,.29-1.31A2.337,2.337,0,0,0,1580.45,1615.31Zm-2.78-1.91a0.749,0.749,0,0,1-.41.39,1.4,1.4,0,0,1-.54.14c-0.17.01-.47,0.02-0.9,0.02h-0.31v-2.12h0.17c0.45,0,.78,0,1.01.01a1.351,1.351,0,0,1,.59.12,0.723,0.723,0,0,1,.38.37,1.028,1.028,0,0,1,.13.49A1.336,1.336,0,0,1,1577.67,1613.4Zm0.59,4.14a0.932,0.932,0,0,1-.5.43,1.979,1.979,0,0,1-.76.19c-0.25,0-.71.01-1.36,0.01h-0.13v-2.51h0.46c0.45,0,.8,0,1.07.01a1.968,1.968,0,0,1,.63.1,1.085,1.085,0,0,1,.56.4,1.164,1.164,0,0,1,.19.72A1.279,1.279,0,0,1,1578.26,1617.54Z" transform="translate(-1573 -1610)"/></svg>
            </span>
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#" class="btn btn_circle-icon btn_circle-icon-white">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12"><path id="fb" class="cls-1" d="M1640.99,1609.24a11.4,11.4,0,0,0-2.2-.24c-2.36,0-3.3.95-3.3,2.65v1.24H1634v2.01h1.49v6.1h2.88v-6.1h2.1l0.2-2.01h-2.3v-0.97c0-.54.06-0.88,0.98-0.88a8.6,8.6,0,0,1,1.28.12Z" transform="translate(-1634 -1609)"/></svg>
            </span>
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#" class="btn btn_circle-icon btn_circle-icon-white">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><path id="inst" class="cls-1" d="M1700.25,1622h-5.5a3.754,3.754,0,0,1-3.75-3.76v-5.49a3.751,3.751,0,0,1,3.75-3.75h5.5a3.751,3.751,0,0,1,3.75,3.75v5.49A3.754,3.754,0,0,1,1700.25,1622Zm2.52-9.42a2.39,2.39,0,0,0-2.39-2.39s-1.38-.07-2.74-0.07c-1.52,0-3.02.07-3.02,0.07a2.39,2.39,0,0,0-2.39,2.39s-0.04,1.55-.04,3.04c0,1.38.04,2.73,0.04,2.73a2.381,2.381,0,0,0,2.39,2.38s1.49,0.07,2.95.07c1.42,0,2.81-.07,2.81-0.07a2.381,2.381,0,0,0,2.39-2.38s0.07-1.35.07-2.73C1702.84,1614.13,1702.77,1612.58,1702.77,1612.58Zm-1.81.21a0.79,0.79,0,0,1-.78-0.79,0.781,0.781,0,0,1,.78-0.78,0.79,0.79,0,0,1,.79.78A0.8,0.8,0,0,1,1700.96,1612.79Zm-3.46,6.07a3.36,3.36,0,1,1,3.36-3.36A3.361,3.361,0,0,1,1697.5,1618.86Zm0-5.56a2.165,2.165,0,1,0,2.17,2.16A2.166,2.166,0,0,0,1697.5,1613.3Z" transform="translate(-1691 -1609)"/></svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__container ">
    <div class="footer__bottom">
      <div class="footer__copy">
        © 2018 «Преображенская клиника»
      </div>
      <div class="footer__dev">
        Разработка сайта — <a href="https://website96.ru" class="link link_blue">Website96.ru</a>
      </div>
    </div>
  </div>
</footer>

<%= _.template(require('./../includes/footer.html'))(data) %>
