@import '~flexboxgrid/css/flexboxgrid.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0;
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'variables.scss';

@font-face {
    font-family: 'Catorze';
    src: url('../fonts/Catorze-SemiBold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: $blue-light;
}

body, html, button {
    font-family: 'Gilroy', sans-serif;
    font-size:  18px;
    font-style: normal;
    font-weight: 300;
    background: url('../img/pattern.png') repeat;
}

@import './blocks/container-fluid.scss';
@import './blocks/container.scss';
@import './utils.scss';

@import './blocks/h.scss';
@import './blocks/text.scss';
@import './blocks/btn.scss';
@import './blocks/link.scss';
@import './blocks//alert.scss';
@import './blocks/input.scss';
@import './blocks//checkbox.scss';
@import './blocks/radiobutton.scss';

@import './blocks/nav-default.scss';
@import './blocks/search.scss';

@import './blocks/header.scss';
@import './blocks/footer.scss';

@import '~swiper/dist/css/swiper';
@import './blocks/slider-home.scss';
@import './blocks/body.scss';

@import './blocks/directions.scss';
@import './blocks/search-dropdown.scss';
@import './blocks/feedbacks.scss';
@import './blocks/advantages.scss';
@import './blocks/about.scss';
@import './blocks/treatment.scss';
@import './blocks/contacts.scss';
@import './blocks/map.scss';