$dark: #1a2029;

$grey: #e8e8e9;
$grey-dark: #999da2;
$grey-dark2: #cbcdd0;
$grey-dark3: #9fa3a8;

$blue: #1b98e0;
$blue-light: #e9edf2;
$blue-light2: #ccdef4;

$brown: #997641;

$red: #f12222;
$red-light: #f6e6e6;